
##
NET "CLK_IN" TNM_NET = "osc_clk_pin";
NET "CLK_IN" LOC = P134;
TIMESPEC TS_osc_clk_pin = PERIOD "osc_clk_pin" 50 MHz HIGH 50% INPUT_JITTER 200 ps;
##
NET "AD_CLK1" LOC = P88;
NET "AD_CLK1" TNM_NET = "sys_clk_pin";
TIMESPEC TS_sys_clk_pin = PERIOD "sys_clk_pin" 75 MHz HIGH 50% INPUT_JITTER 200 ps;

NET "AD_CLK2" LOC = P124;
NET "AD_CLK2" TNM_NET = "AD_CTRL_clk";
TIMESPEC TS_AD_CTRL_clk = PERIOD "AD_CTRL_clk" 37.5 MHz HIGH 50% INPUT_JITTER 200 ps;
###
NET	"AD_CLK_OUT"	LOC = P127 | IOSTANDARD = "LVCMOS33" | SLEW = FAST;
#############################
NET "Test_Rx_p" LOC = P115 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "Test_Rx_n" LOC = P114 | IOSTANDARD = LVCMOS33 | SLEW = FAST;

NET "AD_PWDN" LOC = P111 | IOSTANDARD = "LVCMOS33";
NET "AD_MODE" LOC = P132 | IOSTANDARD = "LVCMOS33";
NET "AD_CNFG" LOC = P131 | IOSTANDARD = "LVCMOS33";
NET "AD_RST"  LOC = P74 | IOSTANDARD = "LVCMOS33";

NET "AD_SEN" 	LOC = P83 | IOSTANDARD = "LVCMOS33";
NET "AD_SCLK" 	LOC = P84 | IOSTANDARD = "LVCMOS33";
NET "AD_SDO" 	LOC = P85 | IOSTANDARD = "LVCMOS33" | PULLUP;
NET "AD_SDIO" 	LOC = P87 | IOSTANDARD = "LVCMOS33" | PULLDOWN;

NET "AD_RXEN" LOC = P93 | IOSTANDARD = "LVCMOS33";
NET "AD_TXEN" LOC = P92 | IOSTANDARD = "LVCMOS33";

NET "AD_PGA[0]" LOC = P75 | IOSTANDARD = "LVCMOS33";
NET "AD_PGA[1]" LOC = P78 | IOSTANDARD = "LVCMOS33";
NET "AD_PGA[2]" LOC = P79 | IOSTANDARD = "LVCMOS33";
NET "AD_PGA[3]" LOC = P80 | IOSTANDARD = "LVCMOS33";
NET "AD_PGA[4]" LOC = P81 | IOSTANDARD = "LVCMOS33";
NET "AD_PGA[5]" LOC = P82 | IOSTANDARD = "LVCMOS33";

NET "AD_ADIO[0]" LOC = P94 | IOSTANDARD = "LVCMOS33";
NET "AD_ADIO[1]" LOC = P95 | IOSTANDARD = "LVCMOS33";
NET "AD_ADIO[2]" LOC = P97 | IOSTANDARD = "LVCMOS33";
NET "AD_ADIO[3]" LOC = P98 | IOSTANDARD = "LVCMOS33";
NET "AD_ADIO[4]" LOC = P99 | IOSTANDARD = "LVCMOS33";
NET "AD_ADIO[5]" LOC = P100 | IOSTANDARD = "LVCMOS33";
NET "AD_ADIO[6]" LOC = P101 | IOSTANDARD = "LVCMOS33";
NET "AD_ADIO[7]" LOC = P102 | IOSTANDARD = "LVCMOS33";
NET "AD_ADIO[8]" LOC = P104 | IOSTANDARD = "LVCMOS33";
NET "AD_ADIO[9]" LOC = P105 | IOSTANDARD = "LVCMOS33";

NET	"ESP32_Ready"	LOC = P34	| IOSTANDARD = "LVCMOS33" | PULLDOWN; #ESP32_IO33
NET	"ESP32_clk"		LOC = P35	| IOSTANDARD = "LVCMOS33" | PULLDOWN; #ESP32_IO25
NET	"ESP32_Data[0]"	LOC = P22	| IOSTANDARD = "LVCMOS33"; #ESP32_IO23
NET	"ESP32_Data[1]"	LOC = P21	| IOSTANDARD = "LVCMOS33"; #ESP32_IO22
NET	"ESP32_Data[2]"	LOC = P32	| IOSTANDARD = "LVCMOS33"; #ESP32_IO26
NET	"ESP32_Data[3]"	LOC = P33	| IOSTANDARD = "LVCMOS33"; #ESP32_IO27
NET	"ESP32_Data[4]"	LOC = P29	| IOSTANDARD = "LVCMOS33"; #ESP32_IO14
NET	"ESP32_Data[5]"	LOC = P30	| IOSTANDARD = "LVCMOS33"; #ESP32_IO13
NET	"ESP32_Data[6]"	LOC = P24	| IOSTANDARD = "LVCMOS33"; #ESP32_IO21
NET	"ESP32_Data[7]"	LOC = P26	| IOSTANDARD = "LVCMOS33"; #ESP32_IO4

